*{
    margin: 0%;
    padding: 0%;
}
html {
    scroll-behavior: smooth;
}

.home {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.menu {
    position: absolute;
    margin: 0%;
    padding: 0%;
    right: 0%;
    top: 40%;
    z-index: 1;
}
ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    width: wrap;
    height: wrap;
    right: 0%;
    top: 40%;
    background-color: #f1f1f1;
    position: fixed;
    border: 1px solid #555;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 0px 0px;
    text-decoration: none;
    border-bottom: 1px solid #555;
  }
  
  li a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

.name{
    font-family: cursive;
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: 150%;
    color: white;
}

.profile{
    height:100%;
    background-image: url('about_me.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:100% 100%;
}
.head {
    font-family: cursive;
    color: white;
    font-size: 150%;
    margin: 5%;
}
.contents-left {
    position: absolute;
    color: white;
    font-family: cursive;
    width: 25%;
    margin-left: 10%;
}
.contents-right {
    position: absolute;
    color: white;
    font-family: cursive;
    width: 25%;
    margin-left: 60%;
}

.timeline {
    background-color: #1D1D4D;
    /* min-height: 100vh; */
    height: 100%;
    margin: 0;
    font-family: cursive;
    position: relative;
    overflow: auto;
  }
  .timeline:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 50%;
    bottom: 0px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 4px;
    background-color: #fff;
  }
  .timeline .entries {
    width: 100%;  
    margin: auto;
    position: relative;
    left: -5px;
  }
  .timeline .entries .entry {
    width: calc(50% - 80px);
    float: left;
    padding: 20px;
    clear: both;
    text-align: right;
  }
  .timeline .entries .entry:not(:first-child) {
    margin-top: -60px;
  }
  .timeline .entries .entry .title {
    font-size: 32px;
    margin-bottom: 12px;
    position: relative;
    color: #fff;
  }
  .timeline .entries .entry .title:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border: 4px solid #ffffff;
    background-color: #1D1D1D;
    border-radius: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: -73px;
    z-index: 1000;
  }
  .timeline .entries .entry .title.big:before {
    width: 24px;
    height: 24px;
    -webkit-transform: translate(8px, -50%);
            transform: translate(8px, -50%);
  }
  .timeline .entries .entry .body {
    color: #aaa;
  }
  .timeline .entries .entry .body p {
    line-height: 1.4em;
  }
  .timeline .entries .entry:nth-child(2n) {
    text-align: left;
    float: right;
  }
  .timeline .entries .entry:nth-child(2n) .title:before {
    left: -63px;
  }
  .timeline .entries .entry:nth-child(2n) .title.big:before {
    -webkit-transform: translate(-8px, -50%);
            transform: translate(-8px, -50%);
  }
  
.skills {
  background-color: whitesmoke;
  height: 100%;
  margin: 0;
  font-family: cursive;
  position: relative;
}

.prog_lan{
    position: absolute;
    left: 10%;
    top: 15%;
    width: 40%; 
}
.tools{
    position: absolute;
    left: 10%;
    bottom: 10%;
    width: 40%; 
}

.technical{
    position: absolute;
    right: 10%;
    top: 15%;
    width: 40%; 
}
.lan{
    position: relative;
    top: 40%;
    left: 50%;
    width: 40%; 
}
.strength{
    position: relative;
    top: 50%;
    left: 50%;
    width: 40%; 
}

.fa {
    padding: 20px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 90%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
